# App
APP_ENV=prod

# Logger
LOG_LEVEL=info
LOG_FORMAT=json

# PostgreSQL (required)
POSTGRES_HOST=localhost
POSTGRES_PORT=5454
POSTGRES_USER=auth_user
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_NAME_DB=auth_db

# PostgreSQL (optional)
PG_SSL_MODE=disable
PG_MAX_CONNS=20
PG_MIN_CONNS=2
PG_HEALTH_TIMEOUT=3s
PG_MAX_CONN_LIFETIME=30m
PG_MAX_CONN_IDLE_TIME=5m
