# App
APP_ENV=dev

# Log
LOG_LEVEL=info
LOG_FORMAT=text

# Postgres (required)
POSTGRES_HOST=localhost
POSTGRES_PORT=5454
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_NAME_DB=auth
# Postgres (optional)
PG_SSL_MODE=disable
PG_MAX_CONNS=20
PG_MIN_CONNS=2
PG_HEALTH_TIMEOUT=3s
PG_MAX_CONN_LIFETIME=30m
PG_MAX_CONN_IDLE_TIME=5m

# Redis
REDIS_ENABLED=true
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=redis
REDIS_DB=0
# Timeouts
REDIS_DIAL_TIMEOUT=3s
REDIS_READ_TIMEOUT=2s
REDIS_WRITE_TIMEOUT=2s
# Pool
REDIS_POOL_SIZE=10
REDIS_MIN_IDLE_CONNS=2
REDIS_POOL_TIMEOUT=4s
# Retry
REDIS_MAX_RETRIES=2
REDIS_RETRY_BACKOFF=100ms
# TLS (если будет нужен)
REDIS_TLS=false

# Auth
SESSION_TTL=168h
UPDATE_INTERVAL=5m
SESSION_REFRESH_BEFORE_EXPIRY=24h

# Headers
SECURITY_HEADERS_ENABLE_HSTS=false
SECURITY_HEADERS_HSTS_MAX_AGE=31536000

# CORS
HTTP_CORS_ALLOWED_ORIGINS=https://app.example.com,https://admin.example.com,http://localhost:3000
HTTP_CORS_ALLOWED_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS
HTTP_CORS_ALLOWED_HEADERS=Accept,Authorization,Content-Type,X-Requested-With
HTTP_CORS_EXPOSED_HEADERS=X-Request-Id
HTTP_CORS_ALLOW_CREDENTIALS=true
HTTP_CORS_MAX_AGE=300

# Rate limit
# GLOBAL
HTTP_RATE_LIMIT_GLOBAL_PER_MINUTE=120

# LOGIN LIMITS
HTTP_RATE_LIMIT_LOGIN_IP_REQUESTS=20
HTTP_RATE_LIMIT_LOGIN_IP_WINDOW=1m

HTTP_RATE_LIMIT_LOGIN_EMAIL_REQUESTS=10
HTTP_RATE_LIMIT_LOGIN_EMAIL_WINDOW=15m

HTTP_RATE_LIMIT_LOGIN_IPEMAIL_REQUESTS=5
HTTP_RATE_LIMIT_LOGIN_IPEMAIL_WINDOW=10m

# REGISTER LIMITS
HTTP_RATE_LIMIT_REGISTER_IP_REQUESTS=3
HTTP_RATE_LIMIT_REGISTER_IP_WINDOW=10m

HTTP_RATE_LIMIT_REGISTER_EMAIL_REQUESTS=3
HTTP_RATE_LIMIT_REGISTER_EMAIL_WINDOW=1h

# Body limit
HTTP_BODY_LIMIT_AUTH_BYTES=16384